// Para que los circulitos de full-page cambien de color
#fp-nav ul li a span {
   background: #bdbdbe;
}
#fp-nav ul li .active span {
   background: white;
}

.container {
   margin-top: 90px;
   text-align: center;
}

body,
html,
svg,
.main-app {
   height: 100%;
   margin: 0px;
}

.svg-morph-background {
   height: 100%;
   width: 100%;
   margin: 0px;
   position: absolute;
}
