.container {
   margin-top: 90px;
   text-align: center;
}

body,
html,
svg,
.main-app {
   height: 100%;
   margin: 0px;
}

.svg-morph-background {
   height: 100%;
   margin: 0px;
   z-index: -100;
}
